@font-face {
  font-family: "${FONT_FAMILY}";
  src: url("../fonts/$( basename $TTF_FILE )");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "${FONT_FAMILY}";
  src: url("../fonts/$( basename $TTF_FILE )");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "${FONT_FAMILY}";
  src: url("../fonts/$( basename $TTF_FILE )");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "${FONT_FAMILY}";
  src: url("../fonts/$( basename $TTF_FILE )");
  font-weight: bold;
  font-style: italic;
}

*{
  direction: rtl;
  text-align: center;
  font-family: "${FONT_FAMILY}";
}

h1 {
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 200%;
  text-align: center;
}

.basmala {
  text-align: center;
}
